.full-blogContainer {
  width: 100%;
}

.tit-chevronRight {
  fill: var(--color_s);
}

.tit-chevronLeft {
  fill: var(--color_s);
  transform: rotate(180deg);
}

.tit-shortText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
