.heroSection {
  background-image: url("//images.ctfassets.net/jj9ent3ck4o2/5EnclWlTUEt9uhdx6VJxrf/b7314da7f1060ce3b3778f855314c3ee/home-hero-Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 80vh;
  min-height: 850px;
  padding-top: 220px;

  @media (min-width: 1024px) {
    padding-top: 200px;
    height: 100vh;
  }
  .overlay {
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
  p {
    a {
      text-decoration: underline;
    }
  }
}
