.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  padding-top: 220px;
  overflow: hidden;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* or contain */
  }

  @media (min-width: 1024px) {
    padding-top: 200px;
    height: 100vh;
  }
  .overlay {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
  p {
    a {
      text-decoration: underline;
    }
  }
}
