.storyContainer {
  background-color: #e9f0f2;

  .ourStoryImageContainer {
    @media (min-width: 1024px) {
      height: 420px;
      width: 400px;
      overflow: hidden;
      border-radius: 12px;

      .ourStoryImage {
        transform: scale(2.5);
      }
    }
  }
}
