.heroContainer {
  background-color: #025068;
  height: 100vh;

  .heroImage {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/CamionFermont.png/1200px-CamionFermont.png");
    background-size: cover;
    background-position: center center;

    height: 50%;
    width: 100%;

    @media (min-width: 1024px) {
      height: 100%;
      width: 50%;
    }
  }
}
