.blog-container {
  @media (min-width: 1024px) {
    width: 700px;
  }

  .article {
    background-color: #f2f6f7;
  }
}

.chevron-right {
  fill: var(--color_s);
}

.chevron-left {
  fill: var(--color_s);
  transform: rotate(180deg);
}
