.event-card-container {
  .card-image {
    height: 280px;
  }
  .card-detail {
    background-color: #f2f6f7;
    border-top: 6px solid var(--color_p);
    h4 {
      height: 66px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
