.header-main {
  transition: background 0.3s;

  .link-item {
    .dropdown {
      display: none;
      width: fit-content;
      white-space: nowrap;
    }

    .item {
      padding: 30px 0;
      img {
        width: 14px;
      }
    }
  }
  .link-item:hover {
    .dropdown {
      display: block;
    }
  }
  .active {
    border-bottom: 4px solid #c59425;
    .item {
      padding-bottom: 26px;
    }
  }
}
.header-main:hover {
  background-color: white;
  transition: background 0.3s;
  .link-item {
    color: #606060;
  }
}
