@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "../fonts/fonts.css";
* {
  box-sizing: border-box;
}
body {
  --color_p: #00556f;
  --color_s: #c59425;
  --color_t: "#606060";
  font-size: 18px;
  font-family: "Lato", sans-serif;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
button {
  &:focus {
    outline: none !important;
  }
}

.font-xs {
  font-size: 14px;
  &:not(.no-light) {
    font-weight: 300;
  }
}

p {
  font-size: 18px;
  line-height: 26px;

  &.slim {
    line-height: 18px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

h1 {
  font-size: 52px;
  font-family: "Pierson", sans-serif;
  @media (max-width: 767px) {
    font-size: 35px;
  }
  &.sub-heading {
    font-size: 46px;
    @media (max-width: 767px) {
      font-size: 35px;
    }
    line-height: 56px;
  }
}

h2 {
  font-size: 42px;
  font-weight: 300;
  @media (max-width: 767px) {
    font-size: 24px;
  }
}
h3 {
  font-size: 26px;
  font-weight: 300;
  @media (max-width: 767px) {
    font-size: 24px;
  }
}
h4 {
  font-size: 22px;
  font-weight: medium;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}
.global-x-spacing {
  padding-right: 37px;
  padding-left: 37px;

  @media (min-width: 1024px) {
    padding-right: 0px;
    padding-left: 0px;
  }
}
