.footer-section {
  background-image: url("./../../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  display: flex;
  align-items: flex-end;
  .footer-overly {
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border-radius: 8px;
    margin-bottom: -50px;
    width: 100%;

    input {
      &::placeholder {
        font-weight: 300;
        color: var(--color_t);
        text-transform: uppercase;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }

    @media (min-width: 1024px) {
      height: 182px;
    }
  }
}

.footer-bar {
  background-image: linear-gradient(180deg, #00556f 0%, #0a4253 100%);

  .rotate {
    transform: rotate(-90deg);
  }

  .footer-credits {
    border-top: 1px solid #fff;
  }
}

.input {
  border-bottom: 1px solid #707070;
}

.footer-search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  outline: none;
}
