.our-mission-container {
  display: flex;
  align-items: center;

  @media (min-width: 1024px) {
    min-height: 345px;
  }

  .mission-wrapper {
    @media (min-width: 1024px) {
      border: 1px solid var(--color_s);
      &.mission-wrapper-blue {
        border: 1px solid var(--color_p);
      }
      &>div {
        display: contents;
      }
    }
    position: relative;

    .mission-heading {
      top: 0px;
      @media (min-width: 1024px) {
        padding: 0px 22px;
        position: absolute;
        transform: translateY(-50%);
        background-color: #fff;

        &.mission-heading-blue {
          background-color: #e9f0f2;
        }
      }
    }

    .dark {
      font-weight: 600;
    }
  }

  .container-goldbox-btn {
    width: 100%;

    @media (min-width: 1024px) {
      padding: 2px 22px;
      bottom: 0px;
      width: fit-content;
      position: absolute;
      transform: translateY(50%);
    }

    .goldbox-button {
      background: linear-gradient(to right, #0a4354 0%, #00556f 100%);
      color: #ffffff;
      display: block;
      text-align: center;
      line-height: 48px;
      border-radius: 8px;
      width: 100%;
      box-shadow: 4px 4px 12px 0px rgba(27, 27, 27, 0.4);
      @media (min-width: 1024px) {
        width: 350px;
      }
    }
  }
}
